.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-info {
    margin-bottom: 15px;
}

.profile-info h3 {
    margin-bottom: 10px;
}

.profile-info p {
    margin-bottom: 5px;
}

.profile-info p:last-child {
    margin-bottom: 0;
}

.education-block {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.education-heading {
    font-size: 20px;
    margin-bottom: 10px;
}


.button-logout {
    background-color: #ff5f5f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-logout:hover {
    background-color: #ff3333;
}
