.contacts-container {
    width: 80%;
    margin: auto;
}

.contacts-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.contacts-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    justify-items: center;
}

.contact-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
}


.app-container {
    padding: 20px;
    position: relative;
}

.search-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}


.search-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}


